<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello! Robert</title>
</head>
<body>
    <h1>This is a heading</h1>
    <h2>This is a heading</h2>
    <h3>This is a heading</h3>

    <p>我的第一个段落。</p>
    <p>我的第一个段落。</p>
    <p>我的第一个段落。</p>
    <a href="http://www.google.com.tw">GOOGLE</a>

    <div>
        桃園國際機場疫情擴散，桃園市中壢區2國民小學接獲通報，有學生確診，校方昨天深夜陸續公告停課14天，另有2國中今天預防性停課一天。桃園市長鄭文燦今天上午召開記者會說明，須找出潛藏的黑數及傳播鏈，目前確診的24人，多數在桃園居住，每一個案都會衍伸出一系列的防疫工作，機場手推車工作人員案17473與擔任居服員的妻子於昨天確診，丈夫CT值19.7，追溯起來他在去年12月30日前就有部分症狀，也就是說可傳播期長，另外，擔任居服員的妻子驗出CT值14.3，家庭傳播鏈傳播威力特別大，她在高度可傳染播期內，有可能傳給照顧服務的家庭及其他親友，根據昨天匡列採檢的結果，是有增加確診個案，下午2時將由指揮中心說明
    </div>
    <br/>
    <div>
        須找出潛藏的黑數及傳播鏈，目前確診的24人，多數在桃園居住，每一個案都會衍伸出一系列的防疫工作，機場手推車工作人員案17473與擔任居服員的妻子於昨天確診，丈夫CT值19.7，追溯起來他在去年12月30日前就有部分症狀，也就是說可傳播期長，另外，擔任居服員的妻子驗出CT值14.3，家庭傳播鏈傳播威力特別大
    </div>
    <span>桃</span><span>園</span><span>機</span><span>場</span>
    <div>桃</div><div>園</div><div>機</div><div>場</div>
</body>
</html>