<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>This is a paragraph</p>
    <br> (line break)
    <hr> (horizontal rule)
    <pre>
        This text
        is
        preformatted
    </pre>
    <em>This text is emphasized</em>
    <strong>This text is strong</strong>
    <code>This is some computer code</code>
    <b>This text is bold</b>
    <i>This text is italic</i>

    <ul>
    <li>First item</li>
    <li>Next item</li>
    </ul>

    <ol>
    <li>First item</li>
    <li>Next item</li>
    </ol>


</body>
</html>