<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>This is a paragraph</p>
    <br> (line break)
    <hr> (horizontal rule)
    <pre>
        This text
        is
        preformatted
    </pre>
    <em>This text is emphasized</em>
    <strong>This text is strong</strong>
    <code>This is some computer code</code>
    <b>This text is bold</b>
    <i>This text is italic</i>

    <ul>
    <li>First item</li>
    <li>Next item</li>
    </ul>

    <ol>
    <li>First item</li>
    <li>Next item</li>
    </ol>

    <dl>
    <dt>First term</dt>
    <dd>Definition</dd>
    <dt>Next term</dt>
    <dd>Definition</dd>
    </dl>

    <table border="1">
    <tr>
      <th>someheader</th>
      <th>someheader</th>
    </tr>
    <tr>
      <td>sometext</td>
      <td>sometext</td>
    </tr>
    </table>

    <form action="http://www.example.com/test.asp" method="post">
        <input type="text" name="lastname"
               value="Nixon" size="30" maxlength="50">
        <input type="password">
        <input type="checkbox" checked="checked">
        <input type="radio" checked="checked">
        <input type="submit">
        <input type="reset">
        <input type="hidden">
        <select>
            <option>Apples
            <option selected>Bananas
            <option>Cherries
        </select>
        <textarea name="Comment" rows="60"
                  cols="20"></textarea>
    </form>

    <blockquote>
    Text quoted from some source.
    </blockquote>
    <address>
    Address 1<br>
    Address 2<br>
    City<br>
    </address>
</body>
</html>