appnope
argon2-cffi
argon2-cffi-bindings
attrs
backcall
bleach
certifi
cffi
charset-normalizer
click
debugpy
decorator
defusedxml
entrypoints
Flask
greenlet
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
packaging
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
requests
Send2Trash
six
SQLAlchemy
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
gunicorn

